h2 {
    color: rgb(248, 229, 229);
    font-variant: small-caps;
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgb(18, 17, 17), 3px 3px 10px rgb(254, 187, 3), 7px -3px 12px rgb(228, 236, 7), 10px 4px 14px rgb(253, 205, 71), -10px -10px 16px rgb(209, 251, 2), 5px 10px 18px rgb(251, 201, 2), 19px -19px 20px rgb(251, 139, 2);
}

h3 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 8px goldenrod, 3px 3px 10px rgb(248, 15, 15), 7px -3px 12px rgb(5, 254, 5), 10px 4px 14px rgb(251, 2, 197), -10px -10px 16px rgb(2, 135, 251), 5px 10px 18px rgb(2, 56, 251), 19px -19px 20px rgb(251, 2, 126);
}


.parallaxScrolling {
    border-bottom: 10px ridge gold;
    max-height: 220px;
    margin-top: 56px;
    background-image: url("../assets/img/parallexBg.webp");
    background-size: contain;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallaxScrolling h1 {
    padding: 56px;
    font-size: 90px;
    color: rgb(254, 246, 5);
    text-shadow: 2px 2px 8px goldenrod, 3px 3px 10px rgb(248, 15, 15), 7px -3px 12px rgb(5, 254, 5), 10px 4px 14px rgb(251, 2, 197), -10px -10px 16px rgb(2, 135, 251), 5px 10px 18px rgb(2, 56, 251), 19px -19px 20px rgb(251, 2, 126);
}

.d-flex {
    display: flex;
}

#coin-limit-toast {
    z-index: 1050;
    width: 400px;
    height: 100px;
}

#coin-limit-toast .alert {
    font-size: 23px;
}

.custom-toast {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9),  0 0 22px rgba(0, 0, 0, 0.5),  0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 100px;
}

@media only screen and (max-width: 1175px) {
    
    .parallaxScrolling {
        opacity: 0;
        
    }
    
}

@media only screen and (max-width: 770px) {

    p {
        font-size: medium;
    }
    
    .parallaxScrolling {
        opacity: 0;
        
    }
    
}

@media only screen and (max-width: 470px) {

    .parallaxScrolling {
        opacity: 0;
        
    }
    
}

