
.about-page>p {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-shadow: 12px 9px 20px rgb(255, 204, 0), 2px 3px 9px red;
}

.project-page>p,
.project-page>li,
.project-page>ul {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px gold, 2px 3px 4px goldenrod;
}

.project-page>a {
    margin-left: 33%;
    text-decoration: none;
    color: rgb(2, 19, 68);
    position: relative;
    z-index: 10;
    font-size: 40px;
    font-weight: bold;
    text-shadow:  1px 1px 1px gold, 2px 3px 4px goldenrod;
}


.project-page>a:hover {
    color: blue;
    text-decoration: underline;
}

@media only screen and (max-width: 1175px) {
     h3, 
    .project-page>a,
    .project-page>li,
    .project-page>p,
    .project-page>ul  {
        font-size: 30px;
        font-weight: bold;
    }
    
    .project-page>a:hover {
        font-size: 30px;
        font-weight: bold;
    }
    

    
.about-page>p {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
    
    .parallaxScrolling {
        opacity: 0;
        
    }
    
}

@media only screen and (max-width: 770px) {
    h3, p,
    .project-page>a,
    .project-page>li,
    .project-page>p,
    .project-page>ul  {
        font-size: 20px;
        font-weight: bold;
    }
    
    .project-page>a:hover {
        font-size: 20px;
        font-weight: bold;
    }
    


    .about-page>p {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }    
    .parallaxScrolling {
        opacity: 0;
        
    }
    
}

@media only screen and (max-width: 470px) {
    h3, p,
    .project-page>a,
    .project-page>li,
    .project-page>p,
    .project-page>ul {
        font-size: 15px;
        font-weight: bold;
    }
    
    .project-page>a:hover {
        font-size: 15px;
        font-weight: bold;
    }
    


    
.about-page>p {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

    .parallaxScrolling {
        opacity: 0;
        
    }
    
}