body {
    font-family: monospace, sans-serif;
    display: grid;
    grid-auto-columns: auto;
}

.parallaxScrolling {
    padding-top: 56px;
    background-image: url("../assets/img/bitcoinWP1.png");
    width: 100%;
    background-attachment: fixed;
    background-position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.parallaxScrolling h1 {
    padding: 56px;
    font-size: 90px;
    text-align: center;
    color: rgb(254, 246, 5);
    text-shadow: 2px 2px 8px goldenrod, 3px 3px 10px rgb(248, 15, 15), 7px -3px 12px rgb(5, 254, 5), 10px 4px 14px rgb(251, 2, 197), -10px -10px 16px rgb(2, 135, 251), 5px 10px 18px rgb(2, 56, 251), 19px -19px 20px rgb(251, 2, 126);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

/* Change the color of the active navbar link */
.nav-item .nav-link.active {
    color: #FFD700 !important;
    /* Example color: Gold */
    font-weight: bold;
    /* Optional: Make the text bold */
    background-color: #333;
    /* Optional: Add background for active link */
    border-radius: 5px;
    /* Optional: Add a border-radius */
}

/* Optional: Add a hover effect for the active link */
.nav-item .nav-link.active:hover {
    color: #FFA500 !important;
    /* Example hover color: Orange */
    background-color: #444;
    /* Darker background on hover */
}


h2 {
    color: white;
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgb(18, 17, 17), 3px 3px 10px rgb(254, 187, 3), 7px -3px 12px rgb(228, 236, 7), 10px 4px 14px rgb(253, 205, 71), -10px -10px 16px rgb(209, 251, 2), 5px 10px 18px rgb(251, 201, 2), 19px -19px 20px rgb(251, 139, 2);
}

h3 {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 2px 8px goldenrod, 3px 3px 10px rgb(248, 15, 15), 7px -3px 12px rgb(5, 254, 5), 10px 4px 14px rgb(251, 2, 197), -10px -10px 16px rgb(2, 135, 251), 5px 10px 18px rgb(2, 56, 251), 19px -19px 20px rgb(251, 2, 126);
}

.btn-outline-success {
    color: white;
    border: 1px rgb(252, 2, 85) solid;
    background-color: #8e067e;
}

.btn-outline-success:hover {
    color: black;
    border: 1px #8e067e solid;
    background-color: rgb(252, 2, 85);
    ;
}

.btn-coinList {
    color: white;
    margin-left: 300px;
    border: 1px rgb(255, 0, 85) solid;
    background-color: #8e067e;
}

.btn-coinList:hover {
    color: black;
    margin-left: 300px;
    border: 1px #8e067e solid;
    background-color: rgb(252, 2, 85);
    ;
}

.about-page>p {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-shadow: 12px 9px 20px rgb(255, 204, 0), 2px 3px 9px red;
}

.reports-page>p {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-shadow: 12px 9px 20px rgb(255, 204, 0), 2px 3px 9px red;
}

.reportsP {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 1px gold, 2px 3px 4px goldenrod;
}

.project-page>p,
.project-page>li,
.project-page>ul {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 1px gold, 2px 3px 4px goldenrod;
}

.project-page>a {
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    color: rgb(46, 47, 1);
    text-shadow: 2px 2px 8px goldenrod, 3px 3px 10px rgb(248, 15, 15), 7px -3px 12px rgb(5, 254, 5), 10px 4px 14px rgb(251, 2, 197), -10px -10px 16px rgb(2, 135, 251), 5px 10px 18px rgb(2, 56, 251), 19px -19px 20px rgb(251, 2, 126);
    margin-left: 420px;
    text-decoration: solid;
}

.project-page>a:hover {
    text-decoration: solid;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    color: rgb(1, 1, 1);
    text-shadow: 2px 2px 8px goldenrod, 3px 3px 10px rgb(253, 233, 5), 7px -3px 12px rgb(5, 254, 5), 10px 4px 14px rgb(251, 2, 197), -10px -10px 16px rgb(180, 251, 2), 5px 10px 18px rgb(251, 143, 2), 19px -19px 20px rgb(251, 2, 126);
    margin-left: 420px;
}

#special {
    color: gold;
    font-size: 43px;
    text-align: center;
    font-weight: 700;
    text-decoration: double;
    text-shadow: 1px 1px 6px rgb(18, 17, 17), 2px 2px 8px rgb(18, 17, 17), -13px 13px 10px rgb(254, 187, 3), 7px -3px 12px rgb(228, 236, 7), 10px 4px 14px rgb(253, 205, 71), -10px -10px 16px rgb(209, 251, 2), 5px 10px 18px rgb(251, 201, 2), 19px -19px 20px rgb(251, 139, 2);
}

#chartContainer {
    height: 470px;
    width: 100%;
}

.container-fluid {
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}


.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: palevioletred;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(217, 141, 222);
    transition: .4s;
}

input:checked+.slider {
    background-color: #8e067e;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Card styling */
.list-group-item,
.row,
.mt-3,
.home-page,
.card-body,
.content,
.col-md-2 {
    background-color: transparent;
}

.col-md-2 {
    width: 30%;
    margin: 10px;
}

.card {
    width: 100%;
    border-radius: 20px 50px 50px 20px;
    border: 3px purple solid;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(248, 235, 118, 0.471), rgba(253, 169, 0, 0.591));
    color: rgb(95, 77, 0);
    text-shadow: 2px 2px 3px rgba(249, 204, 4, 0.9), 2px 7px 6px rgba(19, 17, 8, 0.9), 2px 2px 6px rgba(19, 17, 8, 0.3);
}

.card:hover {
    border-radius: 50px 20px 20px 50px;
    font-weight: 700;
    border: 3px purple solid;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgb(253, 190, 0), rgb(251, 226, 150));
    color: rgb(95, 77, 0);
    text-shadow: 2px 2px 3px rgba(218, 167, 1, 0.9);
}

.btn-info {
    color: white;
    background: #8e067e;
    border: rgb(252, 2, 85) 1px solid;
}

.btn-info:hover {
    background: rgb(252, 2, 85);
    border: #8e067e 1px solid;
}

.progress-bar-animated {
    width: 100%
}

.coinLogo {
    width: 20%;
    height: 20%;
}

.coinLogo:hover {
    width: 25%;
    height: 25%;
}

.modal-content {
    background-image: linear-gradient(rgb(253, 190, 0), rgb(251, 226, 150));
    color: rgb(95, 77, 0);
    text-shadow: 2px 2px 3px rgba(218, 167, 1, 0.9);
}

.modal-body ul {
    font-weight: 600;
    text-align: center;
}

.modal-body li {
    font-weight: 400;
    text-align: center;
    font-size: large;
}

.list-group-item,
.row {
    background-color: transparent;
}

/* Container for the video background */
.video-background {
    position: cover;
    width: 100%;
    height: 100vh;
    overflow: inherit;
}

/* Video styling */
#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

/* Content styling */
.video-background .content {
    position: relative;
    z-index: 1;
    text-align: center;
}

input:focus+.slider {
    box-shadow: 0 0 3px #fdd808;
    border: 2px solid #fd08dc;
}

footer {
    margin-top: 300px;
}